body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #e8d1ff;

}
li{
  height: 26px;
  border: 2px solid #9c48e7;
  margin: 4px 50px 4px 0;
  border-radius: 6px;
  padding: 0 4px;
  background-color: #2d0149;

  color: #f5dbff;
}

input {
  margin: 20px 0 0 40px;
  padding: 10px;
  width: 80%;

  border:3px solid #44ff00;
  color: #fff14d;
  background-color: #3f035d;
  font-size: 120%;
  border-radius: 10px;
}

.found{
  background-color: #ffcd27;
  color: red;
}