body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body{
  background-color: #e8d1ff;

}
li{
  height: 26px;
  border: 2px solid #9c48e7;
  margin: 4px 50px 4px 0;
  border-radius: 6px;
  padding: 0 4px;
  background-color: #2d0149;

  color: #f5dbff;
}

input {
  margin: 20px 0 0 40px;
  padding: 10px;
  width: 80%;

  border:3px solid #44ff00;
  color: #fff14d;
  background-color: #3f035d;
  font-size: 120%;
  border-radius: 10px;
}

.found{
  background-color: #ffcd27;
  color: red;
}

img{
  width: 400px;
}
button{
  border: #e8d1ff 1px solid;
  border-radius: 6px;
  margin: 5px;
  background-color: #850cff;
  padding: 2px 6px;
  color: #efb7ff;
  font-size: 150%;
}

select{
  border-radius: 6px;
  padding: 4px;
  /*width: 100%;*/

}
/*Spinner*/

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: #b20ee0;
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background:  #e8d1ff;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background:  #e8d1ff;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* end Spinner*/